<div class="form-group">
    <label for="exampleInputEmail1">Your Name</label>
    <input type="name" class="form-control" id="fullname" [(ngModel)]="fullname" placeholder="Full Name">
</div>
<div class="panel panel-default">
	  <div class="panel-heading" style="font-weight: bold;">Draw your signature here</div>
	  <div class="panel-body">
		<signature-pad [options]="signaturePadOptions"></signature-pad>
	  </div>
</div>
<br>
<div class="actions">
	<button class="btn btn-primary" (click)="drawComplete()" style="margin-right: 10px">Sign & Confirm</button> 
	<button class="btn btn-default" (click)="ngAfterViewInit()" type="submit">Clear</button>
</div>