<div style="width: 100%; text-align:center">
	

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div><img src="{{signature}}" style="width: 120%"></div>
			<hr style="margin-bottom: 5px">
			<span style="font-weight: bold; margin-top: 5px; padding: 5px;">Signature</span>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<h4 style="font-weight: bold; margin-top: 5px; display: block;
    margin-top: 72px;">{{fullname}}</h4>
			<hr style="margin-bottom: 5px">
			<span style="font-weight: bold; margin-top: 5px; padding: 5px;">Printed Name</span>
		</div>
	</div>
	<br style="clear:both;"><br><br><br>
	<div style="width:100%; text-align: left;"><a routerLink="/sign" routerLinkActive="active">Back</a></div>

</div>

<br><br><br><br>